<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="public/favicon.png" type="image/x-icon">
  <link rel="manifest" href="public/app.webmanifest">
  <link rel="apple-touch-icon" href="public/icon-192x192.png">
  <meta name="theme-color" content="#f3c623">
  <meta name="description"
    content="Web application used to find popular restaurant recommendations with PWA Supports, build in Vanilla JS and Webpack Bundler- Submission Task: PWA Restaurant Catalog + Testing and Optimized in Dicoding Front-End Expert class">
  <title>Restoku</title>
</head>

<body>
  <div>
    <a tabindex="0" class="skip-to-content" href="#mainContent">Skip to Content</a>
  </div>
  <nav-bar></nav-bar>
  <main tabindex="0" id="mainContent">

  </main>

  <custom-footer></custom-footer>
</body>

</html>