@use 'variables'as var;
@use 'mixin';

header {
    position: sticky;
    top: 0px;
    z-index: 999;

    .heading {
        @include mixin.flex-box(space-between);
        padding: 2px 13px;
        background-color: var.$primary-color;

        .logo {
            font-size: 1.5rem;
            color: #fff;
            font-weight: bold;
        }

        .button-container {
            width: 44px;
            height: 44px;
            padding: 3px;

            img {
                height: 100%;
            }

            &.hide {
                display: none;
            }

            &:hover {
                transform: scale(110%);
                transition: transform 0.2s ease-in-out;
            }

            @media screen and (min-width: 700px) {
                & {
                    display: none;
                }
            }
        }

    }

    nav {
        position: absolute;
        transform: translateX(-100vw);
        transition: transform 0.3s ease-in-out;
        height: auto;
        width: auto;

        ul {
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            align-items: center;
            justify-content: center;
            background-color: var.$secondary-color;
            width: 100vw;
            height: calc(100vh);

            li {
                height: auto;

                a {
                    @include mixin.flex-box();
                    width: 100vw;
                    font-size: 2rem;
                    color: var.$text-color-light;
                    cursor: pointer;
                    height: 100%;
                    padding: 10px 0;
                }

                &:hover {
                    background-color: var.$third-color;
                }
            }
        }

        &.open {
            transform: translateX(0);
            transition: transform 0.3s ease-in-out;
        }

    }

    @media screen and (min-width: 700px) {
        & {
            @include mixin.flex-box(space-between, center);

            background-color: var.$primary-color;

            .heading {
                background-color: inherit;
            }

            nav {
                position: static;
                transform: translateX(0);

                ul {
                    background-color: inherit;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: 1fr;
                    width: 50vw;
                    height: 44px;

                    li {
                        border-radius: 25px;
                        padding: 0 0;
                        width: auto;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        a {

                            font-size: 1rem;
                            width: 100%;
                            height: 100%;
                        }

                        &:hover {
                            background-color: inherit;
                            font-weight: bold;
                            transition: font-weight .3s ease-in-out;
                        }
                    }

                    @media screen and (min-width: 900px) {
                        & {
                            width: 30vw;
                        }
                    }
                }
            }
        }
    }
}