@use 'mixin';
@use 'variables'as var;

.hero {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background-image:
        url("../public/hero/hero-background.jpg");
    background-position: center;
    background-size: cover;
    padding: 0 1rem;
    @include mixin.flex-box(center, center, column);

    .hero-title {
        font-size: 3rem;
        color: var.$primary-color;
        text-align: center;
        text-shadow: var.$shadow-value;
    }

    .hero-tagline {
        font-weight: bold;
        text-align: center;
        color: var.$text-color-light;
        text-shadow: var.$shadow-value;

        span {
            color: var.$primary-color;
        }
    }

    @media screen and (min-width: 700px) {
        & {
            width: 100vw;
            height: 50vh;
        }
    }

    @media screen and (min-width: 1200px) {
        & {
            width: 1000px;
            height: 80vh;
        }
    }

}