@use 'variables'as var;
@use 'mixin';

.main-content-container {
    padding: 0 1.5rem;
    margin: 2rem 0;


    .main-content-headline {
        padding: .5rem;
        width: 100%;
        height: auto;
        @include mixin.flex-box();

        * {
            margin: 0 .5rem;
        }

        .main-content-title {
            font-size: 1.5em;
            color: var.$fourth-color;
        }

    }

    .search-form {
        width: 100%;
        height: auto;
        @include mixin.flex-box();

        .input-search,
        .button-search {
            transition: all .2s ease-in-out;
        }


        .input-search {
            width: 100%;
            height: auto;
            font-size: 16px;
            border: 0.5px solid rgb($color: var.$third-color, $alpha: 0.5);
            border-radius: 25px;
            padding: 13px 10px;
            @include mixin.drop-shadow(5px, #000, .1);

            &:hover {
                @include mixin.drop-shadow(10px, var.$primary-color, .3);
            }

            &:focus {
                background-color: var.$gray-color;
                @include mixin.drop-shadow(10px, var.$third-color, .3);
            }

        }

        .search-button {
            width: 44px;
            height: 44px;
            padding: 10px;
            border-radius: 100%;
            margin-left: 10px;
            background-color: var.$primary-color;
            @include mixin.drop-shadow(5px, #000, .1);

            img {
                height: 1.5rem;
                width: 1.5rem;
            }

            &:hover {
                @include mixin.drop-shadow(10px, var.$primary-color, .3);
            }
        }
    }

    .reset-container {
        margin-top: .5rem;
        @include mixin.flex-box();

        .reset-button {
            background-color: var.$third-color;
            color: var.$text-color-light;
            padding: 14px 10px;
            border-radius: 2rem;
            font-size: 1rem;
            @include mixin.flex-box();
            @include mixin.drop-shadow(5px, #000, .1);

            img {
                margin-right: 5px;
                width: 1rem;
            }

            &:hover {
                @include mixin.drop-shadow(10px, var.$primary-color, .3);
            }
        }
    }

    @media screen and (min-width: 700px) {
        & {
            padding: 0 3rem;

            .search-form .input-search {
                width: 50vw;
            }
        }
    }

    @media screen and (min-width: 900px) {
        & {
            margin: 4rem 0;
            font-size: 2rem;

            .main-content-headline {
                @include mixin.flex-box(flex-start, center)
            }
        }
    }

    @media screen and (min-width: 1200px) {
        & {
            padding: 0;

            .main-content-headline {
                padding: 0 3rem;
            }
        }
    }
}