$primary-color: #f3c623;
$secondary-color: #e79a05;
$third-color: #127681;
$fourth-color: #10375c;
$black-color: #1a1c20;
$white-color: #ffffff;
$gray-color: #f4f6ff;
$text-color-dark: $black-color;
$text-color-light: $white-color;
$background-color: $white-color;
$border-color: rgba(26, 28, 32, .5);
$shadow-value: 0 4px 4px rgba($color: #000000, $alpha: 0.8);